/* Breakpoints: 
    s: From 0px
    m: From 640px
    lg: From 1024px
    xl: From 1440px
*/

/* EDgrid library import: */
@import '../node_modules/ed-grid/ed-grid.scss';

/* Google fonts: */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');             /* font-family: 'Didact Gothic', sans-serif; */

/* GLOBAL STYLES: */

body {
  background: rgb(39, 42, 45);
  color: rgb(236, 237, 237);
  font-family: 'Didact Gothic', sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

/* CONTAINER VISIBILITY: */

.hidden {
  display: none;
}

.invisible { 
  visibility: hidden;
  color: #000;
}

/* NAVBAR */

.navbar-font {
  @include to(m) {
    font-size: 11px;
  }

  @include from(m) {
    font-size: 17px;
  }
}

.navbar-logo-height {
  @include to(m) {
    max-height: 20px;
  }

  @include from(m) {
    max-height: 30px;
  }
}

.navbar-title-center {
  @include to(m) {
    font-size: 15px;
  }

  @include from(m) {
    font-size: 20px;
  }
}

/* BUTTONS */

.t-button {
	background-color: rgb(128, 222, 234);
  border: 0px;
  color: rgb(13, 30, 33);
  font-family: 'Didact Gothic', sans-serif;
  margin: auto;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s;
  cursor: pointer;
}

.t-button:hover {
  background-color: rgb(205, 220, 57);
}

.t-blinking-button button {
  animation: start-page-button 4s linear 0s infinite alternate;
}

/* ANIMATIONS */

@keyframes start-page-button {
  from { background-color: rgb(128, 222, 234); }
  to { background-color: rgb(205, 220, 57); }
}

/* USER DATA INPUT: */

.input-style {
  border: 2px solid rgb(205, 220, 57);
  background-color: rgb(236, 237, 237);
  color: rgb(39, 42, 45);
  font-family: 'Didact Gothic', sans-serif;
}

.alert-text {
  border: 2px solid rgb(205, 220, 57);
}
