/* Breakpoints: 
    s: From 0px
    m: From 640px
    lg: From 1024px
    xl: From 1440px
*/

/* EDgrid library import: */
@import '../node_modules/ed-grid/ed-grid.scss';

/* Google fonts: */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');                 /* font-family: 'Manrope', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap');  /* font-family: 'Thasadith', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');     /* font-family: 'Barlow', sans-serif; */

/* GLOBAL STYLES: */

body {
  background: rgb(64, 64, 64);
  color: rgb(210, 210, 210);
  font-family: 'Geneva', Tahoma, Verdana, sans-serif;
  font-family: 'Barlow', sans-serif;
}

/* .ed-grid > * {
  border: 2px dotted yellow;
} */

.cursor-pointer {
  cursor: pointer;
}

/* RESPONSIVE SIZES FOR TITLE FONTS */

.navigation {
  @include to(m) {
    font-size: 11px;
  }

  @include from(m) {
    font-size: 15px;
  }
}

.page-title > h3 {
  font-size: 25px;
}

.our-selection > h3 {
  @include to(m) {
    font-size: 15px;
    margin-top: 20px;
  }

  @include from(m) {
    font-size: 25px;
    margin-top: 25px;
  }
}

/* NAVBAR */

.v-header {
  background-color: rgb(228, 223, 213);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  /* transition-duration: 1.0s ease; */
  transition: 1.0s ease;
  font-family: 'Thasadith', sans-serif;
}

.v-header:hover {
  @include from(m) {
    background-color: rgb(68, 68, 68);
    color: rgb(228, 223, 213);
  }
}

.v-header-text-main {
  font-family: 'Thasadith', sans-serif;
}

.v-header-text {
  @include to(m) {
    font-size: 18px;
    font-weight: 700;
  }

  @include from(m) {
    font-size: 15px;
    font-weight: 700;
  }
}

.v-icons {
  @include to(m) {
    font-size: 17px;
  }

  @include from(m) {
    font-size: 15px;
  }
}

/* top margins for content vertical alignment: */
.home-margin {
  @include to(m) {
    margin-top: 4px;
  }

  @include fromTo(m, lg) {
    margin-top: 5px;
  }

  @include from(lg) {
    margin-top: 8px;
  }
}

.default-margin {
  @include to(m) {
    margin-top: 45px;
  }

  @include from(m) {
    margin-top: 70px;
  }
}

.topnav {
  overflow: hidden;
}

.topnav .mobile-icon {
  @include to(m) {
    display: block;
    transition: 1.0s ease;
  }

  @include from(m) {
    display: none;
  }
}

.topnav .desktop-navbar-menus {
  @include to(m) {
    display: none;
  }

  @include from(m) {
    display: block;
  }
}

/* FOOTER */

.v-footer {
  background-color: rgb(68, 68, 68);
  color: rgb(228, 223, 213);
  width: 100%;
  font-family: 'Thasadith', sans-serif;
}

.dev-link {
	color: rgb(228, 223, 213);
  text-decoration: none;
  cursor: pointer;
}

/* INSTAGRAM COMPONENT */

.instagram-title-desktop {
  margin-bottom: 38px;
}

.instagram-title-mobile {
  margin-bottom: 30px;
}

/* JUMBO PHOTOS HOME SCREEN - LANDING PAGE */

.v-button {
	background-color: rgb(228, 223, 213);
  border: 0px;
  color: rgb(68, 68, 68);
  font-family: 'Manrope', sans-serif;
  margin: auto;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  transition-duration: 1.0s;
  cursor: pointer;
}

.v-button:hover {
  background-color: rgb(68, 68, 68);
  color: rgb(228, 223, 213);
}

.v-button-on-cart {
	background-color: rgb(68, 68, 68);
  border: 0px;
  color: rgb(228, 223, 213);
  font-family: 'Manrope', sans-serif;
  margin: auto;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  transition-duration: 1.0s;
  cursor: pointer;
}

.v-button-purchase-completed {
	background-color: rgb(68, 68, 68);
  border: 0px;
  color: rgb(228, 223, 213);
  font-family: 'Manrope', sans-serif;
  margin: auto;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  /* transition-duration: 1.0s; */
  cursor: pointer;
}

.container-floating-text {
  position: relative;
  text-align: center;
  top: 2em;
  /* left: 0px; */
  /* margin-bottom: 1.5em; */
  /* border: 2px dotted magenta; */
}

.floating-text {
  position: absolute;
  color: #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);         /* Black background with 0.1 opacity */
  /* border: 2px dotted limegreen; */
}

.floating-text > div > h1 {
  @include to(m) {
    font-size: 35px;
  }

  @include from(m) {
    font-size: 75px;
  }
}

.floating-text > div > p {
  @include to(m) {
    font-size: 12px;
  }

  @include from(m) {
    font-size: 20px;
  }
}

/* WHATSAPP FIXED COMPONENT */

.whatsapp {
  display: block;
  position: fixed;
  z-index: 99;
  outline: none;
  cursor: pointer;

  @include to(m) {
    bottom: 10px;
    right: 10px;
  }

  @include from(m) {
    bottom: 30px;
    right: 30px;
  }
}

.whatsapp > a > img {
  @include to(m) {
    width: 40px;
  }

  @include from(m) {
    width: 70px;
  }
}

/* CHECKOUT TIMER FIXED COMPONENT */

.checkout-timer {
  display: block;
  position: fixed;
  z-index: 99;
  outline: none;

  @include to(m) {
    top: 40px;
    right: 1px;
  }

  @include from(m) {
    top: 39px;
    right: 15px;
  }
}

.timer-style {
  border: 2px solid rgb(228, 223, 213);
  background-color: rgb(68, 68, 68);
  color: rgb(228, 223, 213);
  font-family: 'Thasadith', sans-serif;
}

/* DROPDOWN NAVBAR MENU */

.dropdown-left {
  float: left;
  overflow: hidden;
  /* border: 1px dotted limegreen; */
}

.dropdown-left span {
  cursor: pointer;
}

.dropdown-left:hover .dropdown-content {
  display: block;
  /* margin-top: 10px; */
}

.dropdown-right {
  float: right;
  overflow: hidden;
  /* border: 1px dotted limegreen; */
}

.dropdown-right span {
  cursor: pointer;
}

.dropdown-right:hover .dropdown-content {
  display: block;
  /* margin-top: 10px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  /* left: 0%; */
  opacity: 0.8;
  background-color: rgb(68, 68, 68);
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.mobile-dropdown-content {
  display: block;
  position: absolute;
  /* left: 0%; */
  opacity: 0.8;
  background-color: rgb(68, 68, 68);
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.mobile-dropdown-content span {
  float: none;
  color: rgb(228, 223, 213);
  padding: 5px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content span {
  float: none;
  color: rgb(228, 223, 213);
  padding: 5px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content span:hover {
  background-color: rgb(228, 223, 213);
  color: rgb(68, 68, 68);
  transition-duration: 0.5s;
}

/* SIDE MENU */

.valkyria-light {
  background-color: rgb(228, 223, 213);
  color: rgb(68, 68, 68);
  font-family: 'Thasadith', sans-serif;
}

/* SECONDARY IMAGES TRANSITION ON MOUSEOVER */

.overlay {
  /* position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; */
  opacity: 0;
  transition: .5s ease;
}

.img-container:hover .overlay {
  opacity: 1;
}

/* IMAGE ZOOMING */

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 2px solid yellow;
  /*set the size of the lens:*/
  width: 200px;
  height: 250px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

/* USER DATA INPUT: */

.input-style {
  border: 2px solid rgb(68, 68, 68);
  background-color: rgb(228, 223, 213);
  color: rgb(68, 68, 68);
  font-family: 'Thasadith', sans-serif;
}

/* CONTAINER VISIBILITY: */

.hidden {
  display: none;
}

.invisible { 
  visibility: hidden;
  color: #000;
}
